<html>
<head>
    <title>Employee Scheduling System</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>List of Employees</h1>
    <ul>
        {{#each employees}}
        <li>
            <a href="/employee/{{this.employeeId}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</body>
</html>