<html>
<head>
    <title>Employee Scheduling System</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>List of Employees</h1>

    <p>Logged in as: {{username}}</p>
    <p><a href="/logout">Logout</a></p>

    <ul>
        {{#each employees}}
        <li>
            <a href="/employee/{{this._id}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
</body>
</html>